body {
    width: 45rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider {
    height: 2rem;
}

/* button panel */
#button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

#button-container>.dropdown>.dropdown-toggle {
    width: 100%;
}

#button-container>.dropdown>.dropdown-menu {
    width: 100%;
}

/* action list */
#action-list {
    width: 100%;
    max-height: 30rem;
    overflow: auto;
}

#emptyListIndicator {
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
}

/* output button */
#outputCodeSelectContainer {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}